.navbar{
    position:sticky;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem;
    background:darkgray;
    color: #fff;
    font-size: 18px;
}
.icon{
    display: flex;
    gap: 1rem;
}
.icon.search{
    background:white;
    border-radius: 50px;
    width:40%;
    padding:1.5rem;
    color:grey;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.searchinp{
    width: 80%;
    border:none;
    outline:none;
    font-size: 14px;
}