.section{
    background:lightgray;

    font-size: 18px;
    font-weight: bold;
    padding:1rem;
}
.homesection{
    margin-left: 50px;
    width:100px;
    height: 3rem;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
}